{% extends 'header.html'%}
{% block content%}
{% if isAdmin%}
<div style="display: flex; justify-content: space-evenly; margin: 30px 0;">
  <a href = "{% url 'get_plan' 'adminnew' %}" class='btn btn-primary'>New Request Plans</a>
  <a href = "{% url 'get_plan' 'adminpending' %}" class='btn btn-warning'>Pending Plans</a>
  <a href = "{% url 'get_plan' 'adminmodification' %}" class='btn btn-warning '>Modification Requests</a>
  <a href = "{% url 'get_plan' 'adminaccepted' %}" class='btn btn-success'>Accepted Plans</a>
  <a href = "{% url 'get_plan' 'adminrejected' %}" class='btn btn-danger'>Rejected Plans</a>
</div>
{% else %}
<div style="display: flex; justify-content: space-evenly; margin: 30px 0;">
  <a href = "{% url 'get_plan' 'new' %}" class='btn btn-primary'>Your Request Plans</a>
  <a href = "{% url 'get_plan' 'pending' %}" class='btn btn-warning'>Pending Plans</a>
  <a href = "{% url 'get_plan' 'modification' %}" class='btn btn-warning'>Modification Requests</a>
  <a href = "{% url 'get_plan' 'accepted' %}" class='btn btn-success'>Accepted Plans</a>
  <a href = "{% url 'get_plan' 'rejected' %}" class='btn btn-danger'>Rejected Plans</a>
</div>
{% endif %}
<table class="table table-bordered">
    <tr>
      <th>Id</th>
      <th>Client Name</th>
      <th>Length</th>
      <th>Width</th>
      <th>Floors</th>
      <th>Parking</th>
      <th>Wall Thickness</th>
      <th>Sectional Plan</th>
      <th>Drawing Plan</th>
      <th>Floor Plan</th>
      <th>Elevated Plan</th>
      <th>Click To Update</th>
      {% if plan.status == 'accepted'%}
      <th>
        New Construction
      </th>
      {% endif %}
    </tr>
    {% for plan in plans %}
    <tr>
      <td>{{ plan.id }}</td>
      <td>{{ plan.client.user.first_name }}</td>
      <td>{{ plan.length }}</td>
      <td>{{ plan.width}}</td>
      <td>{{ plan.floors }}</td>
      <td>{{ plan.parking }}</td>
      <td>{{ plan.wall_thickness }}</td>

      <td><a href="{{media_url}}{{ plan.sectional_plan.url}}">
            <img src="{{media_url}}{{ plan.sectional_plan.url }}" class="rounded-circle" width="100px" height="100px">
        </a></td>
      <td><a href="{{media_url}}{{ plan.drawing_plan.url }}">
        <img src="{{media_url}}{{ plan.drawing_plan.url}}" class="rounded-circle" width="100px" height="100px">
    </a></td>
      <td><a href="{{ plan.floor_plan.url}}">
        <img src="{{ plan.floor_plan.url}}" class="rounded-circle" width="100px" height="100px">
    </a></td>
      <td><a href="{{ plan.elevated_plan.url}}">
        <img src="{{ plan.elevated_plan.url}}" class="rounded-circle" width="100px" height="100spx">
    </a></td>
      <td>
        <form action="{% url 'update_plan' plan.id %}">
          {%csrf_token%}
          <button name="status" class="btn btn-primary">{{plan.status}}</button>
        </form>
      </td>
      {% if plan.status == 'accepted'%}
      <td>
        <form action="{% url 'new_construction' plan.id %}">
          <button name='new_construction' class='btn btn-success'>Create Construction</button>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endblock content %}