{% extends 'header.html'%}
{% block content%}
{% for message in messages %}
<h3>{{message}}</h3>
{% endfor %}
<div style="display: flex; justify-content: space-evenly; margin: 30px 0;">
  <a href="{% url 'get_construction' 'excavation' %}" class="btn btn-danger">Excavation</a>
  <a href="{% url 'get_construction' 'foundation' %}" class="btn btn-warning">Foundation</a>
  <a href="{% url 'get_construction' 'finished' %}" class="btn btn-success">Finished</a>
</div>
{% if constructions%}
<table class="table table-bordered">
    <tr>
      <th>Id</th>
      <th>Client Name</th>
      <th>Plan</th>
      <th>Status</th>
      <th>Estimated Cost</th>
      <th>Open Construction</th>
      {% if const.status == 'finished'%}
      <th>Get Bill</th>
      {% endif %}
    </tr>
    {% for const in constructions %}
    <tr>
      <td>{{ const.id }}</td>
      <td>{{ const.client.user.first_name }}</td>
      <td>{{ const.plan }}</td>
      <td>{{ const.status }}</td>
      <td>{{ const.estimated_cost }}</td>
      <td>
        <form action="{% url 'get_s_construction' const.id %}">
          <button name='status' class="btn btn-warning">View Construction</button>
        </form>
      </td>
      {% if const.status == 'finished'%}
      <td>
        <a href="{% url 'get_bill' const.id%}" class='btn btn-warning'>Get Bill</a>
      </td>
      {%endif%}
    </tr>
    {% endfor %}
  </table>
{% else %}
<h1>Oops! Your construction Yet to reach this stage :))</h1>
{% endif %}
{% endblock content %}