{% extends 'header.html' %}
{% block content %}
<h1 class="welcome-message">Welcome {{request.user.first_name}}</h1>


{% if curr_user == 'Client' %}
<div>
<p>hi Client</p>
<h2 class="welcome-message">What can we do for you?</h2>
<div class="links">
    <a href = "{% url 'new_plan' %}" class="text-info">Generate Request for New Plan</a>
    <a href = "{% url 'get_plan' 'pending' %}" class='text-info'>Pending Plans</a>
    <a href = "{% url 'get_plan' 'new' %}" class = 'text-info'>New plans</a>
    <a href = "{% url 'get_construction' 'excavation'%}" class='text-info'>My Construction</a>
</div>
{% endif %}
{% if curr_user == 'Admin' %}
<div style="display: flex; justify-content: space-evenly; margin: 30px 0;" >
<a href = "{% url 'new_plan'%}"class='btn btn-success'>Start a Plan</a>
<a href = "{% url 'get_adminplan' 'new' %}" class='btn btn-danger'>All Plan Requests</a>
<a href ="{% url 'get_adminconstruction' 'excavation' %}" class='btn btn-primary'>Constructions</a>
<a href ="{% url 'get_worker' %}" class='btn btn-warning'>Workers</a>
<a href ="{% url 'get_material' %}" class='btn btn-primary'>Materials</a>
</div>
{% endif %}
{% if curr_user == 'Worker'%}
<p>Hi Worker</p>
{% endif %}

{% endblock content %}